body {
    text-align: center;
    padding: 90px;
    background-color: rgb(15, 15, 15);
    
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Verdana, sans-serif;
}
a {
    display: block;
    width: 300px;
    margin: 15px auto;
    padding: 20px;
    background-color: #1a1a1a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    
}